.calendrier{
    background-color: white;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    border-radius: 5px;
}
.calendrier-container{
    position: relative;
}
thead{
    height: 40px;
}
thead td img{
    width: 30px;
}
.calendrier .calendrier-activedate{
    flex-direction: column;
    background-color: #3461D6;
    justify-content: center;
}
thead + thead{
    background-color: #F4F4F4;
}
.calendrier thead td{
    border: solid 1px transparent;
    text-align: center;
}
td{
    width: 40px;
    height: 40px;
    color: black;
    overflow: hidden;
}
td.month{
    width: 100px;
    height: 50px;
}
.calendrier-before-month,.calendrier-after-month{
    color: #6DB0FF;
}
.-weekday{
    background-color: #F4F4F4;
}
.date-active{
    background-color: #3461D6;
}

.calendrier thead,.calendrier tr{
    display: flex;
    justify-content: space-between;
}
.calendrier thead td{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendrier-semaine{
    background-color: white;
}
.calendrier-semaine td p{
    color: #74A0FF;
}
.calendrier td{
    display: flex;
    justify-content: center;
    align-items: center;
}
td div select{
    background-color: transparent;
    border: 1px solid #3461D6;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    color: #3461D6;
}
.calendrier-inputMonthYear{
    width: auto;
    
}